# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
*.iml

# Android
android/.gradle/
android/app/build/
*.jks
*.keystore
key.properties

# Environment
.env
